[Unit]
Description=Price Comparator Service
After=network.target nss-lookup.target

[Service]
User=root
EnvironmentFile=/home/www/price_comparator/.env
ExecStart=/usr/bin/python /home/www/price_comparator/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target